In [33]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [34]:
df = pd.read_csv('listings.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,1489424,"Welcoming, easygoing, comfy bed, entire level",5294164,Efrat,NaN,FOURTEENTH WARD,42.66719,-73.81580,Private room,50.0,1,248,2024-02-27,1.94,1,233,50,NaN
1,2992450,Luxury 2 bedroom apartment,4621559,Kenneth,NaN,THIRD WARD,42.65789,-73.75370,Entire home/apt,70.0,28,9,2022-08-17,0.08,1,21,0,NaN
2,3820211,Restored Precinct in Center Sq. w/Parking,19648678,Terra,NaN,SIXTH WARD,42.65222,-73.76724,Entire home/apt,125.0,2,292,2024-02-18,2.51,4,360,8,NaN
3,5651579,Large studio apt by Capital Center & ESP@,29288920,Gregg,NaN,SECOND WARD,42.64615,-73.75966,Entire home/apt,105.0,7,337,2024-03-07,3.13,2,79,31,NaN
4,6623339,Center Sq. Loft in Converted Precinct w/ Parking,19648678,Terra,NaN,SIXTH WARD,42.65222,-73.76724,Entire home/apt,126.0,2,306,2023-12-26,2.87,4,0,5,NaN

In [35]:
df.shape

(404, 18)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404 entries, 0 to 403
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              404 non-null    int64
 1   name                            404 non-null    object
 2   host_id                         404 non-null    int64
 3   host_name                       404 non-null    object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   404 non-null    object
 6   latitude                        404 non-null    float64
 7   longitude                       404 non-null    float64
 8   room_type                       404 non-null    object
 9   price                           350 non-null    float64
 10  minimum_nights                  404 non-null    int64
 11  number_of_reviews               404 non-null    int64
 12  last_review                     362 non-null    object
 13  reviews_per_month               362 non-null    float64
 14  calculated_host_listings_count  404 non-null    int64
 15  availability_365                404 non-null    int64
 16  number_of_reviews_ltm           404 non-null    int64
 17  license                         0 non-null      float64
dtypes: float64(6), int64(7), object(5)
memory usage: 56.9+ KB

In [37]:
df.describe()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
count,4.040000e+02,4.040000e+02,0.0,404.000000,404.000000,350.000000,404.000000,404.000000,362.000000,404.000000,404.000000,404.000000,0.0
mean,5.075502e+17,2.215851e+08,NaN,42.657382,-73.776875,114.882857,5.222772,54.732673,1.992403,5.133663,202.027228,16.022277,NaN
std,4.254315e+17,1.796507e+08,NaN,0.009623,0.019607,108.416846,21.515183,98.541437,1.957821,5.436021,131.345837,21.572016,NaN
min,1.489424e+06,6.490680e+05,NaN,42.630660,-73.876489,24.000000,1.000000,0.000000,0.050000,1.000000,0.000000,0.000000,NaN
25%,4.662195e+07,4.762598e+07,NaN,42.651845,-73.790344,75.000000,1.000000,4.000000,0.510000,1.000000,79.000000,1.000000,NaN
50%,6.686083e+17,1.870609e+08,NaN,42.657168,-73.773448,100.000000,2.000000,16.000000,1.370000,3.000000,244.000000,7.000000,NaN
75%,9.022064e+17,3.872668e+08,NaN,42.662161,-73.761915,125.000000,3.000000,61.000000,2.760000,6.500000,327.250000,22.000000,NaN
max,1.104977e+18,5.531120e+08,NaN,42.714896,-73.738103,1750.000000,365.000000,777.000000,11.080000,22.000000,365.000000,131.000000,NaN

In [38]:
df.drop(['neighbourhood_group', 'license'], axis=1, inplace=True)
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,4.040000e+02,4.040000e+02,404.000000,404.000000,350.000000,404.000000,404.000000,362.000000,404.000000,404.000000,404.000000
mean,5.075502e+17,2.215851e+08,42.657382,-73.776875,114.882857,5.222772,54.732673,1.992403,5.133663,202.027228,16.022277
std,4.254315e+17,1.796507e+08,0.009623,0.019607,108.416846,21.515183,98.541437,1.957821,5.436021,131.345837,21.572016
min,1.489424e+06,6.490680e+05,42.630660,-73.876489,24.000000,1.000000,0.000000,0.050000,1.000000,0.000000,0.000000
25%,4.662195e+07,4.762598e+07,42.651845,-73.790344,75.000000,1.000000,4.000000,0.510000,1.000000,79.000000,1.000000
50%,6.686083e+17,1.870609e+08,42.657168,-73.773448,100.000000,2.000000,16.000000,1.370000,3.000000,244.000000,7.000000
75%,9.022064e+17,3.872668e+08,42.662161,-73.761915,125.000000,3.000000,61.000000,2.760000,6.500000,327.250000,22.000000
max,1.104977e+18,5.531120e+08,42.714896,-73.738103,1750.000000,365.000000,777.000000,11.080000,22.000000,365.000000,131.000000

In [39]:
df.dropna(subset= ['last_review', 'price'],inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 325 entries, 0 to 403
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              325 non-null    int64
 1   name                            325 non-null    object
 2   host_id                         325 non-null    int64
 3   host_name                       325 non-null    object
 4   neighbourhood                   325 non-null    object
 5   latitude                        325 non-null    float64
 6   longitude                       325 non-null    float64
 7   room_type                       325 non-null    object
 8   price                           325 non-null    float64
 9   minimum_nights                  325 non-null    int64
 10  number_of_reviews               325 non-null    int64
 11  last_review                     325 non-null    object
 12  reviews_per_month               325 non-null    float64
 13  calculated_host_listings_count  325 non-null    int64
 14  availability_365                325 non-null    int64
 15  number_of_reviews_ltm           325 non-null    int64
dtypes: float64(4), int64(7), object(5)
memory usage: 43.2+ KB

In [40]:
df.fillna({'reviews_per_month':0}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 325 entries, 0 to 403
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              325 non-null    int64
 1   name                            325 non-null    object
 2   host_id                         325 non-null    int64
 3   host_name                       325 non-null    object
 4   neighbourhood                   325 non-null    object
 5   latitude                        325 non-null    float64
 6   longitude                       325 non-null    float64
 7   room_type                       325 non-null    object
 8   price                           325 non-null    float64
 9   minimum_nights                  325 non-null    int64
 10  number_of_reviews               325 non-null    int64
 11  last_review                     325 non-null    object
 12  reviews_per_month               325 non-null    float64
 13  calculated_host_listings_count  325 non-null    int64
 14  availability_365                325 non-null    int64
 15  number_of_reviews_ltm           325 non-null    int64
dtypes: float64(4), int64(7), object(5)
memory usage: 43.2+ KB

In [41]:
df.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,1489424,"Welcoming, easygoing, comfy bed, entire level",5294164,Efrat,FOURTEENTH WARD,42.66719,-73.81580,Private room,50.0,1,248,2024-02-27,1.94,1,233,50
1,2992450,Luxury 2 bedroom apartment,4621559,Kenneth,THIRD WARD,42.65789,-73.75370,Entire home/apt,70.0,28,9,2022-08-17,0.08,1,21,0
2,3820211,Restored Precinct in Center Sq. w/Parking,19648678,Terra,SIXTH WARD,42.65222,-73.76724,Entire home/apt,125.0,2,292,2024-02-18,2.51,4,360,8
3,5651579,Large studio apt by Capital Center & ESP@,29288920,Gregg,SECOND WARD,42.64615,-73.75966,Entire home/apt,105.0,7,337,2024-03-07,3.13,2,79,31
4,6623339,Center Sq. Loft in Converted Precinct w/ Parking,19648678,Terra,SIXTH WARD,42.65222,-73.76724,Entire home/apt,126.0,2,306,2023-12-26,2.87,4,0,5

In [42]:
df.groupby('neighbourhood').size().sort_values(ascending=False)

neighbourhood
SIXTH WARD         71
SECOND WARD        41
NINTH WARD         30
FOURTEENTH WARD    29
THIRTEENTH WARD    28
TENTH WARD         27
THIRD WARD         26
ELEVENTH WARD      16
FIFTEENTH WARD     16
SEVENTH WARD       14
FOURTH WARD        10
FIFTH WARD          6
EIGHTH WARD         4
FIRST WARD          4
TWELFTH WARD        3
dtype: int64